.portfolio_place-holder {
    width: 100%;
    background-color: var(--light-grey);
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.portfolio-list p {
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: center;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.portfolio-grid img {
    width: 80%;
    display: block;
}


.portfolio-arrow {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.portfolio-arrow.left {
    transform: rotate(180deg);
}

.portfolio-arrow:hover {
    cursor: pointer;
}

.portfolio-image {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.portfolio-block {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-grid.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.portfolio-grid.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
    .portfolio_place-holder {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfolio-grid img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}