.services
{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 5%;
}

.services p {
    width: 100%;
    padding: 0 80px;
    font-size: 25px;
}

.messy-list
{
    width: 100%;
    text-align: center;
}

.messy-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
}

.messy-list li {
    list-style-type: none;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 230px;
    text-align: center;
    padding: 10px 20px;
    background: transparent;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: inset 0 0 10px #C52F91;
    z-index: 1;
    cursor: pointer;
}

.messy-list li:hover {
    box-shadow: inset 0 0 40px #C52F91;
}

@keyframes expand {
    0% {
      width: 0;
      opacity: 0;
    }

    100% {
      width: 80vw;
      opacity: 1;
    }
  }

  @keyframes close {
    0% {
        width: 80vw;
        opacity: 1;
    }

    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  .expanded-view {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    padding: 50px;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background: rgba(34, 28, 42, 0.9);
    box-shadow: 0 0 40px #C52F91;
    z-index: 1000;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    overflow: hidden;
  }
  
  .expanded-view.open {
    animation: expand 0.5s ease-in-out forwards;
  }

  .expanded-view.close {
  animation: close 0.5s ease-in-out forwards;
}

.expanded-view .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
}

.expanded-view > h2 {
    font-size: 40px;
}

.expanded-view p {
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.expanded-view button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #C52F91;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.expanded-view button:hover {
    background-color: #a0247a;
}

.messy-list li::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(34, 28, 42, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: inherit;
    z-index: -1;
}

.messy-list li > div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    align-items: center;
}

.messy-list li > div > h2 {
    text-align: left;
}

.messy-list li img {
    width: 35px;
    height: 35px;
}

.messy-list li > img {
    margin-left: 80%;
}

.messy-list li p {
    padding: 20px;
    margin: 20px;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 768px)
{
    .services
    {
        text-align: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding-bottom: 0;
    }

    .services p {
        width: 100%;
        font-size: 20px;
        padding: 0;
    }

    .messy-list ul {
        margin: 0;
        gap: 10px;
    }

    .messy-list li {
        width: 80%;
        height: auto;
    }

    .messy-list li div {
        gap: 5px;
    }

    .messy-list li div img,
    .messy-list li img {
        width: 25px;
        height: 25px;
    }

    .messy-list li div h2,
    .messy-list h2 {
        font-size: 10px;
    }

    .messy-list li p {
        font-size: 15px;
    }

    .expanded-view {
        padding: 30px;
    }

    .expanded-view .title h2 {
        margin: 0;
    }

    .expanded-view .title img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px)
{
    #service-part {
        margin: 0;
    }

    .services {
        text-align: center;
    }

    .services p {
        padding: 5px 0;
        width: 100%;
        font-size: 15px;
    }

    .messy-list ul {
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 15px; 
    }

    .messy-list h2 {
        font-size: 20px;
    }

    .messy-list ul li {
        margin: 0;
        font-size: 15px;
        width: 100%;
    }

    .expanded-view {
        width: 50%;
        height: auto;
        margin: auto;
        padding: 10px;
    }
}