.part{
    position: relative;
    overflow: hidden;
}

.separator{
    max-width: 80px;
    height: 5px;
}

.main-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.section_description
{
    margin-left: 80px;
    font-size: 25px;
}

.section_title
{
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 30px;
}

.section_title, .separator
{
    margin-left: 75px;
}

.separator {
    margin-left: 80px;
    padding: 0 40px 0 30px;
    width: 100%;
}

@media screen and (max-width: 899px)
{
    .section_description {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px)
{
    .main-section {
        padding-bottom: 0;
    }

    .section_description {
        font-size: 10px;
    }
    
    .section_description
    {
        margin-left: 80px;
        font-size: 10px;
    }

    .section_title
    {
        padding-bottom: 5px;
        font-size: 15px;
        text-align: center;
    }

    .section_title, .separator
    {
        margin: 0 75px;
    }

    .separator {
        align-self: center;
        margin: 0 auto;
        width: 20%;
    }
}