.contact-form_form{
    padding: 90px;
    background-color: var(--light-grey);
    margin: 2%;
}

.contact-form_form input::placeholder
{
    color: #141414;
}

input
{
    border-radius: 40PX;
    -webkit-border-radius: 40PX;
    -moz-border-radius: 40PX;
    -ms-border-radius: 40PX;
    -o-border-radius: 40PX;
}

.radius_md
{
    border-radius: 40PX;
    -webkit-border-radius: 40PX;
    -moz-border-radius: 40PX;
    -ms-border-radius: 40PX;
    -o-border-radius: 40PX;
}

.contact-form_form button[type = "submit"]
{
    margin: 10px 0;
}

label {
    color: #141414;
}