nav {
    background-color: rgba(28, 34, 42, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav div.top-logo
{
    padding-left: 90px;
    padding-top: 16px;
}

.top-logo img{
    max-width: 90px;
}

@media screen and (max-width: 480px) {
    nav div.top-logo
    {
        padding: 10px 20px;
    }
}